*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sortie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
  
}
@media only screen and (max-width: 450px){
    .sortie{
        flex-wrap: nowrap;
        flex-direction: column;
    }

}

.card:nth-child(odd){
    background-color: rgb(203, 253, 222);
}
h1{
    text-align: center;
    padding: 1rem;
    width: 100%;
    background-color: #212121;
    color: rgb(203, 253, 222);
}
.card{

    width: 25%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 1rem 1rem;
    padding: 1rem;

    border: 1px solid rgb(5, 143, 58);
    border-radius: 8px;
}
@media only screen and (max-width: 450px){
    .card{
        width: 320px;
    }
}
@media only screen and (max-width: 750px) and (min-width: 450px){
    .card{
        width: 100%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 750px){
    .card{
        width: 40%;
    }
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .2rem;

    
}
.title>h2{
    font-size: 1.3rem;
    border-bottom: 1px solid #212121;
    color: rgb(5, 143, 58);
    text-align: center;
    
}
.title>span{
    font-style: italic;
    font-weight: 900;
    font-size: .75rem;
    padding: .2rem 1rem 0 1rem;
}
content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
content>p{
    padding: 1rem;
}
.tagline{
    font-weight: 600;
    font-size: 1rem;
}
img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    
}